.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__pzMmq {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-O8KMv4CK-a1JdU);
  width: 100%;
  min-width: 0;
}
.freeBox__pzMmq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__pzMmq > :global(.__wab_flex-container) > *,
.freeBox__pzMmq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzMmq > :global(.__wab_flex-container) > picture > img,
.freeBox__pzMmq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox__pzMmq {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__pzMmq > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__pzMmq > :global(.__wab_flex-container) > *,
  .freeBox__pzMmq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pzMmq > :global(.__wab_flex-container) > picture > img,
  .freeBox__pzMmq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lTjDb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__lTjDb {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__txzou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-kvgnns1mr1Amys);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__txzou {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__okVho {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__okVho {
    align-items: center;
    justify-content: center;
  }
}
.svg__dctV3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__dittw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__aA1Yq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__fw6Oo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__diOIk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__diOIk {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__ou2Vs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__ou2Vs {
    text-align: center;
    margin-top: 53px;
  }
}
.button___6CHv8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button___6CHv8:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__pZyPn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__mx00D {
  color: var(--token-kvgnns1mr1Amys);
}
.svg__pkVuV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3LUIh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button___3LUIh:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__dtlCk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__uhb19 {
  color: var(--token-kvgnns1mr1Amys);
}
.svg__uSeQy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wdVsf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__wdVsf:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__pvGcB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cmtCm {
  color: var(--token-kvgnns1mr1Amys);
}
.svg___2TpqV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__u2Iky {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__u2Iky {
    justify-content: center;
    align-items: center;
  }
}
.h4___6Iq62 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4___6Iq62 {
    text-align: center;
    margin-top: 46px;
  }
}
.button__sVmli:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__sVmli:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gcBkj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wEGoR {
  color: var(--token-kvgnns1mr1Amys);
}
@media (max-width: 930px) {
  .text__wEGoR {
    text-align: center;
  }
}
.svg___393Nt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___5BZzd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button___5BZzd:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___4L3Qv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qFy8L {
  color: var(--token-kvgnns1mr1Amys);
}
@media (max-width: 930px) {
  .text__qFy8L {
    text-align: center;
  }
}
.svg__hMzAu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zplFr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__zplFr {
    justify-content: center;
    align-items: center;
  }
}
.h4__cj5IA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__cj5IA {
    text-align: center;
    margin-top: 46px;
  }
}
.text__tu7LR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__tu7LR {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__phSnl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rmVcW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qG5BI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__qG5BI:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__mypDk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text___22XMe {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__wgVCq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__siFD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__siFD {
    align-self: center;
  }
}
.text___5Ephp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-kvgnns1mr1Amys);
  margin-top: 100px;
}
