.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__xBYzW {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-c3IMUVmxBxB74f);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__xBYzW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xBYzW > :global(.__wab_flex-container) > *,
.freeBox__xBYzW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xBYzW > :global(.__wab_flex-container) > picture > img,
.freeBox__xBYzW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__xBYzW {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__xBYzW > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__xBYzW > :global(.__wab_flex-container) > *,
  .freeBox__xBYzW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xBYzW > :global(.__wab_flex-container) > picture > img,
  .freeBox__xBYzW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox__n3BeP {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox__n3BeP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__n3BeP > :global(.__wab_flex-container) > *,
.freeBox__n3BeP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3BeP > :global(.__wab_flex-container) > picture > img,
.freeBox__n3BeP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__n3BeP {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__xhKy5:global(.__wab_instance) {
  position: relative;
}
.svg__c3Tay {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kmtIf {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__yFxDh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rWRfN:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__rWRfN:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__aVMyW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__taiMf {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__xG9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__htQZm:global(.__wab_instance) {
  position: relative;
}
.svg__ura0H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qqd5 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__xxeFs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__l9MN2 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__l9MN2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 930px) {
  .freeBox__l9MN2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__l9MN2 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__l9MN2 > :global(.__wab_flex-container) > *,
  .freeBox__l9MN2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__l9MN2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__l9MN2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__yZOgH:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__yZOgH:global(.__wab_instance) {
    display: none;
  }
}
.svg__xJRd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1UtMm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__arSl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ifTjw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__h6Qth {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
